@font-face{font-family:AntarcticaBeta-CnXBdContrast;src: url(https://nhlblackhawks.github.io/memberships/AntarcticaBeta-CnXBdContrast.otf) format("openface");font-weight:400;font-style:normal;font-display:auto}

@font-face{font-family:AntarcticaBeta-CondensedBold;src: url(https://nhlblackhawks.github.io/memberships/AntarcticaBeta-CnXBdContrast.otf) format("openface");font-weight:700;font-style:normal;font-display:auto}

@font-face{font-family:AntarcticaBeta-Regular;src: url(https://nhlblackhawks.github.io/memberships/AntarcticaBeta-CnXBdContrast.otf) format("openface");font-weight:400;font-style:normal;font-display:auto}
