<style type="text/css">@font-face {
 font-family: "AntarcticaBeta-CnXBdContrast"; src: url(https://github.com/nhlblackhawks/memberships/blob/e45b7eeb23004ca123da7412808086fc3aa3120c/AntarcticaBeta-CnXBdContrast.woff2) format("woff2");}
	
	 
@font-face {
 font-family: "AntarcticaBeta-CondensedBold"; src: url(https://github.com/nhlblackhawks/memberships/blob/e45b7eeb23004ca123da7412808086fc3aa3120c/AntarcticaBeta-CondensedBold.woff2) format("woff2");}
	 
	 
@font-face {
 font-family: "AntarcticaBeta-Regular"; src: url(https://github.com/nhlblackhawks/memberships/blob/e45b7eeb23004ca123da7412808086fc3aa3120c/AntarcticaBeta-Regular.woff2) format("woff2");}
</style>